.navbar-nav{
    gap:20px;
}

@media (max-width:991.98px){

    .navbar-collapse{
        text-align:center;
        padding-top:20px;
    }

    .navbar-nav{
        gap:10px;
    }

    .navbar-nav .nav-link{
        font-size:1.1rem;
    }

    .navbar form{
        max-width:220px;
    }

}